[submodule "submodules"]
	path = submodules
	url = https://github.com/modelingevolution/BlazoReactor.git
[submodule "MauiControls"]
	path = MauiControls
	url = https://github.com/modelingevolution/MauiControls.git
